/*=============================================
=             Variables - Borders             =
=============================================*/

// Border colors
$border-color: $black;

// Border radius
$border-radius: 5px;

// Border width
$border-width: 3px;
