/*=============================================
=             Variables - Colors              =
=============================================*/

/*----------  Opacity  ----------*/

$alpha: 0.1;

/*----------  Colors  ----------*/

// Primary
$white: #ffffff;
$black: #101223;

// Grey
$light-grey: #87878C;
$dark-grey: #4A4A4A;

// Purple
$purple: #782AF5;

// Theme
$theme-color: $purple;
