/*=============================================
=             variables - colors              =
=============================================*/

/*----------  opacity  ----------*/

$alpha: 0.1;

/*----------  colors  ----------*/

// primary
$white: #ffffff;
$off-white: #f8f8f8;
$black: #000000;
$off-black: #272727;

// grey
$xx-light-grey: #e3e3e3;
$alert-grey: #e6e6e6;
$x-light-grey: #d4d4d4;
$comment-grey: #999999;
$light-grey: #87878c;
$grey: #5f5f61;
$dark-grey: #4a4a4a;

// purple
$xx-light-purple: #f5f3fa;
$x-light-purple: #dbcdf8;
$light-purple: #cbb4fc;
$purple-text: #7357ae;
$bright-purple: #8500ff;
$purple: #782af5;
$dark-purple: #5524a4;
$x-dark-purple: #421787;
$xx-dark-purple: #371371;

// green
$light-green: #c4ffc6;
$green: #7bfa7f;
$dark-green: #3e7e40;

// red
$light-red: #fe9eaa;
$bright-red: #ff1f7a;
$dark-red: #774349;

// yellow
$light-yellow: #fffaba;
$yellow: #fdd584;
$dark-yellow: #817c44;

// orange
$orange: #f19c6e;
