/*=============================================
=             Variables - Colors              =
=============================================*/

/*----------  Opacity  ----------*/

$alpha: 0.1;

/*----------  Colors  ----------*/

// Primary
$white: #FFFFFF;
$off-white: #F8F8F8;
$black: #000000;

// Grey
$xx-light-grey: #E3E3E3;
$x-light-grey: #D4D4D4;
$light-grey: #87878C;
$grey: #5F5F61;
$dark-grey: #4A4A4A;

// Purple
$xx-light-purple: #F5F3FA;
$x-light-purple: #DBCDF8;
$light-purple: #CBB4FC;
$bright-purple: #8500FF;
$purple: #782AF5;
$dark-purple: #5524A4;
$x-dark-purple: #421787;
$xx-dark-purple: #371371;

// Green
$green: #7BFA7F;

// Red
$red: #f07979;
$bright-red: #ff1f7a;

// Yellow
$yellow: #ffe616;
