/*=============================================
=                   m-Callout                   =
=============================================*/

.m-callout {
  border-radius: $border-radius;
  background-color: $alert-grey;
  padding: 0.5rem 1.5rem;
  margin: $padding-xs 0;

  p {
    color: $grey;
    font-size: 1.4rem;
    margin: 1rem 0;

    a {
      color: $grey;
      text-decoration: underline;

      &:focus, &:hover {
        color: $grey;
      }
    }
  }

  strong {
    color: $grey;
    font-family: $font-heading;
    font-size: 1.6rem;
    display: block;
  }

  &.m-callout--info {
    background-color: $x-light-purple;

    p {
      color: $purple-text;

      a {
        color: $purple-text;
        text-decoration: underline;

        &:focus, &:hover {
          color: $purple-text;
        }
      }
    }

    strong {
      color: $purple-text;
    }
  }

  &.m-callout--warning {
    background-color: $light-yellow;

    p {
      color: $dark-yellow;

      a {
        color: $dark-yellow;
        text-decoration: underline;

        &:focus, &:hover {
          color: $dark-yellow;
        }
      }
    }

    strong {
      color: $dark-yellow;
    }
  }

  &.m-callout--danger {
    background-color: $light-red;

    p {
      color: $dark-red;

      a {
        color: $dark-red;
        text-decoration: underline;

        &:focus, &:hover {
          color: $dark-red;
        }
      }
    }

    strong {
      color: $dark-red;
    }
  }

  &.m-callout--success {
    background-color: $light-green;

    p {
      color: $dark-green;

      a {
        color: $dark-green;
        text-decoration: underline;

        &:focus, &:hover {
          color: $dark-green;
        }
      }
    }

    strong {
      color: $dark-green;
    }
  }
}
