/*=============================================
=                 Trust Logos                 =
=============================================*/

.m-trust-logos {
  position: relative;
  color: $white;

  &:after {
    @include abs-center;
    content: "";
    display: block;
    background-color: $xx-dark-purple;
    opacity: .33;
  }
}

.m-trust-logos__content {
  position: relative;
  z-index: 1;
}

.m-trust-logos__logos {
  max-width: 60rem;
  margin: 0 auto;

  @include breakpoint($md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
  }

  a {
    display: inline-block;
    margin: $padding-sm / 2;

    @include breakpoint($md) {
      display: block;
      margin: 0;
    }
  }

  img {
    font-size: 8px;
    max-width: 20em;
    max-height: 5em;

    @include breakpoint($lg) {
      font-size: 10px;
    }
  }
}
