/*=============================================
=                 Brand Icons                 =
=============================================*/

.a-icon--logo {
  height: 3.2em;
  width: 3.4em;
}

.a-icon--wordmark {
  height: 3.2em;
  width: 18.8em;
}
