/*=============================================
=                General Icons                =
=============================================*/

.a-icon--income {
  height: 20.8em;
  width: 36.3em;
}

.a-icon--leaderboard {
  height: 21.2em;
  width: 25.4em;
}

.a-icon--shield {
  height: 24em;
  width: 37em;
}

.a-icon--blocks {
  height: 19.3em;
  width: 29.6em;
}
