/*=============================================
=                Social Icons                 =
=============================================*/

.a-icon--facebook {
  height: 3.2em;
  width: 3.2em;
}

.a-icon--twitter {
  height: 3.2em;
  width: 3.2em;
}

.a-icon--linkedin {
  height: 3.2em;
  width: 3.2em;
}

.a-icon--youtube {
  height: 3.2em;
  width: 3.2em;
}

.a-icon--github {
  height: 3.2em;
  width: 3.2em;
}

.a-icon--email {
  height: 3.2em;
  width: 3.2em;
}

.a-icon--medium {
  height: 3.2em;
  width: 3.2em;
}
