{% assign data = site.translations[site.lang].footer %}

{% if site.lang != 'en' %}
  {% capture lang %}/{{ site.lang }}{% endcapture %}
{% else %}
  {% assign lang = '' %}
{% endif %}

{% if data.navigation.home.rooturl %}
  {% capture homeurl %}{{ site.rooturl }}{{ lang }}{{ data.navigation.home.url }}{% endcapture %}
{% elsif data.navigation.home.root %}
  {% assign homeurl = data.navigation.home.url %}
{% else %}
  {% capture homeurl %}{{ lang }}{{ data.navigation.home.url }}{% endcapture %}
{% endif %}

<footer class="l-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <div class="l-footer__top">
          <div class="l-footer__rows">

            <div class="l-footer__row">
              <a class="l-footer__logo" href="{{ homeurl }}">{% include atoms/a-icon.html name='wordmark' title='PolySwarm' %}</a>
              {% include molecules/m-social-links.html %}
            </div>

            {% for column in data.navigation.columns %}
              <div class="l-footer__row">
                <ul class="l-footer__list">

                  {% for item in column.items %}

                    {% if item.url %}

                      {% if item.rooturl %}
                        {% capture itemurl %}{{ site.rooturl }}{{ lang }}{{ item.url }}{% endcapture %}
                      {% elsif item.root %}
                        {% assign itemurl = item.url %}
                      {% else %}
                        {% capture itemurl %}{{ lang }}{{ item.url }}{% endcapture %}
                      {% endif %}

                      <li class="l-footer__item"><a class="l-footer__item-link" href="{{ itemurl }}">{{ item.name }}</a></li>

                    {% else %}
                      <li class="l-footer__item"><span class="l-footer__item-heading">{{ item.name }}</span></li>
                    {% endif %}


                  {% endfor %}

                </ul>
              </div>
            {% endfor %}

            <div class="l-footer__row">
              {% include atoms/a-button.html root=data.cta.root url=data.cta.url target=data.cta.target title=data.cta.name %}
            </div>

          </div>
        </div>

        <div class="l-footer__bottom">
          <div class="l-footer__bottom-left">
            <p>{{ site.time | date: "%Y" }} &copy; {{ site.author.name }}</p>
          </div>
          <div class="l-footer__bottom-right">

            {% if data.privacy.rooturl %}
              {% capture privacyurl %}{{ site.rooturl }}{{ lang }}{{ data.privacy.url }}{% endcapture %}
            {% elsif data.privacy.root %}
              {% assign privacyurl = data.privacy.url %}
            {% else %}
              {% capture privacyurl %}{{ lang }}{{ data.privacy.url }}{% endcapture %}
            {% endif %}

            <a href="{{ privacyurl }}">{{ data.privacy.name }}</a>

            {% if data.terms.rooturl %}
              {% capture termsurl %}{{ site.rooturl }}{{ lang }}{{ data.terms.url }}{% endcapture %}
            {% elsif data.terms.root %}
              {% assign termsurl = data.terms.url %}
            {% else %}
              {% capture termsurl %}{{ lang }}{{ data.terms.url }}{% endcapture %}
            {% endif %}

            <a href="{{ termsurl }}">{{ data.terms.name }}</a>

          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
