{% assign data = site.translations[site.lang].header %}

{% if site.lang != 'en' %}
  {% capture lang %}/{{ site.lang }}{% endcapture %}
{% else %}
  {% assign lang = '' %}
{% endif %}

<header id="js-main-menu" class="l-header l-header--{{ page.header }}">

  <a href="#" id="js-main-menu-toggle" class="l-header__nav-toggle">
    <span class="l-header__nav-toggle-line h-abs-center-top"></span>
    <span class="l-header__nav-toggle-line h-abs-center"></span>
    <span class="l-header__nav-toggle-line h-abs-center-bottom"></span>
  </a>

  <a href="{{ lang }}/" class="l-header__logo">{% include atoms/a-icon.html name='wordmark' title='PolySwarm' %}</a>

  <nav class="l-header__nav">
    <ul class="l-header__nav-list">

      <li class="l-header__nav-item l-header__home-mobile">
        <a href="{{ lang }}/" target="_self" class="l-header__nav-link">Home</a>
      </li>

      {% for item in data.navigation.items %}

        {% if item.subitems %}

          <li class="l-header__nav-item">
            <span class="l-header__nav-link l-header__dropdown-toggle js-dropdown">{{ item.name }}</span>
            {% include molecules/m-dropdown.html items=item.subitems %}
          </li>

        {% else %}

          <li class="l-header__nav-item">
            <a href="{{ lang }}{{ item.url }}" target="{{ item.target }}" class="l-header__nav-link">{{ item.name }}</a>
          </li>

        {% endif %}

      {% endfor %}

    </ul>
  </nav>

  <div class="l-header__language-toggle-wrap">
    <span class="l-header__language-toggle js-dropdown">{% include atoms/a-icon.html name='globe' title='languages' %}</span>
    {% include molecules/m-dropdown.html style="right" items=site.langs %}
  </div>

</header>
