<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>

    {% comment %} Brand {% endcomment %}
    {% include svg/brand/logo.svg.html %}
    {% include svg/brand/wordmark.svg.html %}

    {% comment %} Patterns {% endcomment %}
    {% include svg/patterns/play.svg.html %}
    {% include svg/patterns/clock.svg.html %}
    {% include svg/patterns/mail.svg.html %}
    {% include svg/patterns/conference.svg.html %}
    {% include svg/patterns/globe.svg.html %}

    {% comment %} General {% endcomment %}
    {% include svg/general/income.svg.html %}
    {% include svg/general/leaderboard.svg.html %}
    {% include svg/general/shield.svg.html %}
    {% include svg/general/blocks.svg.html %}

    {% comment %} Social {% endcomment %}
    {% include svg/social/facebook.svg.html %}
    {% include svg/social/twitter.svg.html %}
    {% include svg/social/linkedin.svg.html %}
    {% include svg/social/youtube.svg.html %}
    {% include svg/social/github.svg.html %}
    {% include svg/social/email.svg.html %}
    {% include svg/social/medium.svg.html %}

  </defs>
</svg>
