{% comment %}

Example usage:

{% include organisms/o-hero--small.html title='My Title' %}

{% endcomment %}

<section class="o-hero o-hero--small h-bg-center h-bg-purple h-section-padding--small" style="background-image: url('/assets/images/1.4/backgrounds/globe-bg.jpg');">
  <div class="h-gradient-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="h-h1 o-hero__heading">{{ include.title }}</h1>
      </div>
    </div>
  </div>
</section>
