/*=============================================
=                 Footer [lg]                 =
=============================================*/

.l-footer__rows {
  flex-wrap: nowrap;
}

.l-footer__row {

  &:nth-child(4) {
    padding-right: $padding-xs;
  }

  &:first-child {
    flex-grow: 1.8;
  }

  &:last-child {
    flex: 1;
    width: auto;
    text-align: right;
    padding-right: 0;
    flex-grow: 1.7;
    margin-top: 0;
  }
}

.l-footer__item-link {
  font-size: 1.4rem;
}
