/*=============================================
=                 Footer [xl]                 =
=============================================*/

.l-footer {

  .a-icon--wordmark {
    font-size: 1.3rem;
  }

  .m-social-links {
    font-size: 0.9rem;
  }

  .a-button {
    font-size: 1.3rem;
  }
}

.l-footer__item-link {
  font-size: 1.6rem;
}
