---
layout: l-base
---

{% capture title %}{% t page.title %}{% endcapture %}

{% include organisms/o-hero--small.html title=title %}

<div id="js-sidebar-nav-section" class="l-docs">
  <div class="container">
    <div class="row">

      <div class="col-sm-8">
        <section class="s-post">
          {{ content }}
        </section>
      </div>

      <div class="col-sm-3 offset-sm-1">
        <nav id="js-sidebar-nav" class="l-sidebar-nav"></nav>
      </div>

    </div>
  </div>
</div>

{% comment %}h-post-padding{% endcomment %}
