/*=============================================
=                 Background                  =
=============================================*/

.h-bg-center {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-bg-right {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-bg-off-white {
  background-color: $off-white;
}

.h-bg-purple {
  background-color: $purple;
}

.h-bg-gradient {
  background-image: linear-gradient(to left bottom, $purple, $x-dark-purple);
}

.h-gradient-overlay {
  @include abs-center;
  background-image: linear-gradient(to left bottom, $purple, $x-dark-purple);
  opacity: 0.8;
}
