/*=============================================
=                 Background                  =
=============================================*/

.h-bg-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat scroll center center;
  background-size: cover;
}
