/*=============================================
=                Text Helpers                 =
=============================================*/

.h-text-center {
  text-align: center !important;
}

.h-text-left {
  text-align: left !important;
}

.h-text-right {
  text-align: right !important;
}

.h-text-uppercase {
  text-transform: uppercase !important;
}

/*----------  Colors  ----------*/

.h-text-black {
  color: $text-black !important;
}

.h-text-white {
  color: $text-white !important;
}

.h-text-grey {
  color: $grey !important;
}

.h-text-light-grey {
  color: $light-grey !important;
}

.h-text-purple {
  color: $purple !important;
}

.h-text-green {
  color: $green !important;
}


/*----------  Line Breaks  ----------*/

// To fix orphans and widows.
.h-br { display: block; }
.h-br\@xs { @include breakpoint($xs) { display: block; } }
.h-br\@sm { @include breakpoint($sm) { display: block; } }
.h-br\@md { @include breakpoint($md) { display: block; } }
.h-br\@lg { @include breakpoint($lg) { display: block; } }
.h-br\@xl { @include breakpoint($xl) { display: block; } }

/*----------  Special Cases  ----------*/

// For when you need a litle extra space between camel case words.
.h-text-camel {
  font-size: 0;
  padding: 0.2rem;
}
