/*=============================================
=              Sidebar Nav [md]               =
=============================================*/

.l-sidebar-nav {
  width: 28rem;
  padding-right: 1rem;

  // Top-level list
  ul {
    a {
      font-size: 1.2rem;
    }
  }
}
