/*=============================================
=             Sidebar Nav [base]              =
=============================================*/

.l-sidebar-nav {
  display: none;
  width: 28rem;

  &.is-fixed {
    top: 0;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
  }

  &.is-absolute {
    height: auto;
    position: absolute;
  }

  // Top-level list
  ul {
    background: $purple;

    // Top-level list items
    li {

      // Top-level links
      a {
        color: $green;
      }

      // Second-level list
      ul {
        background: $light-purple;

        // Second-level list items
        li {

          // Second-level links
          a {
            color: $purple-text;
          }
        }
      }
    }
  }
}
