/*=============================================
=             Sidebar Nav [base]              =
=============================================*/

.l-sidebar-nav {
  display: none;
  width: 28rem;

  &.is-fixed {
    top: 0;
    position: fixed;
    // height: 100vh;
    // overflow-y: auto;
  }

  &.is-absolute {
    height: auto;
    position: absolute;
  }

  // Top-level list
  ul {
    text-transform: uppercase;

    a {
      color: $grey;
      text-decoration: none;
      display: block;
      padding: 0.5rem 2rem;
      font-size: 1.2rem;

      &:hover {
        color: $text-black;
      }
    }

    // Top-level list items
    li {
      border-left: 4px solid $light-purple;
      margin-bottom: $padding-tiny;

      &:last-child {
        margin-bottom: 0;
      }

      &.is-active {
        border-left-color: $purple;

        ul {
          display: block;
        }

        & > a {
          color: $text-black;
        }
      }

      // Second-level list
      ul {
        display: none;
        margin-left: 2.2rem;

        // Second-level list items
        li {
          border-left: 4px solid $light-purple;

          &.is-active {
            border-left-color: $purple;
          }

          a {
            padding: 0.5rem 1.8rem;
          }
        }
      }
    }
  }
}
