<div class="m-social-links">
    <ul class="m-social-links__list">
      <li class="m-social-links__list-item">
        <a class="m-social-links__link" href="{{ site.social.facebook }}">{% include atoms/a-icon.html name='facebook' title='Facebook' %}</a>
      </li>
      <li class="m-social-links__list-item">
        <a class="m-social-links__link" href="{{ site.social.twitter }}">{% include atoms/a-icon.html name='twitter' title='Twitter' %}</a>
      </li>
      <li class="m-social-links__list-item">
        <a class="m-social-links__link" href="{{ site.social.linkedin }}">{% include atoms/a-icon.html name='linkedin' title='LinkedIn' %}</a>
      </li>
      <li class="m-social-links__list-item">
        <a class="m-social-links__link" href="{{ site.social.youtube }}">{% include atoms/a-icon.html name='youtube' title='YouTube' %}</a>
      </li>
      <li class="m-social-links__list-item">
        <a class="m-social-links__link" href="{{ site.social.github }}">{% include atoms/a-icon.html name='github' title='GitHub' %}</a>
      </li>
      <li class="m-social-links__list-item">
        <a class="m-social-links__link" href="mailto:{{ site.email }}">{% include atoms/a-icon.html name='email' title='Email' %}</a>
      </li>
      <li class="m-social-links__list-item">
        <a class="m-social-links__link" href="{{ site.social.medium }}">{% include atoms/a-icon.html name='medium' title='Medium' %}</a>
      </li>
    </ul>
  </div>
