/*=============================================
=               2up Image Text                =
=============================================*/

.o-2up-image-text {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;

  @include breakpoint($md) {
    text-align: left;
    padding-bottom: $padding-xl;
  }

  &:last-child {

    @include breakpoint($md) {
      padding-bottom: 0;
    }

    .o-2up-image-text__image-inner {
      padding-bottom: 0;
    }
  }

  &.is-flipped {
    .o-2up-image-text__image {
      @include breakpoint($md) {
        justify-content: left;
      }
    }
  }
}

.o-2up-image-text__image-inner {
  font-size: 7px;
  padding-bottom: $padding-md;
  text-align: center;

  @include breakpoint($sm) {
    font-size: 9px;
    padding-bottom: $padding-lg;
  }

  @include breakpoint($md) {
    font-size: 10px;
    padding-bottom: 0;
  }

  @include breakpoint($lg) {
    font-size: 12px;
  }

  svg {
    max-width: 100%;
  }
}

.o-2up-image-text__text-inner {
  max-width: 52rem;
  margin: 0 auto;
  padding-bottom: $padding-md;

  @include breakpoint($md) {
    padding-bottom: 0;
  }

  .h-h2 {
    line-height: 1.2;

    @include breakpoint($md) {
      font-size: 3.2rem;
    }

    @include breakpoint($lg) {
      font-size: 3.6rem;
    }
  }

  .h-p1 {

    @include breakpoint($md) {
      font-size: 1.7rem;
    }

    @include breakpoint($lg) {
      font-size: 1.8rem;
    }
  }
}

.o-2up-image-text__image,
.o-2up-image-text__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.o-2up-image-text__image {
  @include breakpoint($md) {
    height: 100%;
  }
}

.o-2up-image-text__text {
  @include breakpoint($md) {
    height: 100%;
  }
}
