/*=============================================
=            Conference Schedule              =
=============================================*/

.o-conference-schedule {

  .m-event-card {
    font-size: 0.6rem;

    @include breakpoint(359px) {
      font-size: 0.7rem;
    }

    @include breakpoint($xxs) {
      font-size: 0.8rem;
    }

    @include breakpoint(1100px) {
      font-size: 0.9rem;
    }

    @include breakpoint($lg) {
      font-size: 1rem;
    }
  }
}

.o-conference-schedule__inner {

  @include breakpoint(899px, max-width) {
    max-width: 55rem;
    margin: 0 auto;
  }

  @include breakpoint($sm - 1, max-width) {
    max-width: 44rem;
    margin: 0 auto;
  }

  .o-conference-schedule-col {

    @include breakpoint(899px, max-width) {
      display: block;
      flex: none;
      max-width: none;
    }
  }

  @include breakpoint($md) {
    margin: 0 auto;
    max-width: 200rem;
  }
}
