/*=============================================
=               Call to Action                =
=============================================*/

.o-call-to-action {
  position: relative;
}

.o-call-to-action__bg-left,
.o-call-to-action__bg-right {
  display: block;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
}

.o-call-to-action__bg-left {
  background: url('../images/1.4/backgrounds/cta-bg-left.png') no-repeat;
  background-size: cover;
  background-position: -100px 75px;
  left: 0;

  @include breakpoint(600px) {
    background-position: -5rem 5rem;
  }

  @include breakpoint($lg) {
    background-size: contain;
    background-position: 0 2rem;
  }
}

.o-call-to-action__bg-right {
  background: url('../images/1.4/backgrounds/cta-bg-right.png') no-repeat;
  background-size: cover;
  background-position: -61px 124px;
  right: 0;

  @include breakpoint(600px) {
    background-position: 5rem 5rem;
  }

  @include breakpoint($lg) {
    background-size: contain;
    background-position: 100% 2rem;
  }
}
