/*=============================================
=           How It Works Infographic          =
=============================================*/

.o-how-it-works-infographic {
  overflow: hidden;
}

.o-how-it-works-infographic__desktop {
  display: none;

  @include breakpoint($sm) {
    display: block;
    max-width: 126rem;
    margin: 0 auto;
    position: relative;
    right: -8%;

    // Files (Desktop)
    #file1 {
      animation: file1 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0) translateY(0px);
    }

    #file2 {
      animation: file2 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0px) translateY(0px);
    }

    #file3 {
      animation: file3 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0) translateY(0px);
      animation-delay: 1s;
    }

    #file4 {
      animation: file4 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0) translateY(0px);
      animation-delay: 1s;
    }

    #file5 {
      animation: file5 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0) translateY(0px);
      animation-delay: 2s;
    }

    #file6 {
      animation: file6 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0px) translateY(0px);
      animation-delay: 2s;
    }

    #file7 {
      animation: file7 7s infinite;
      animation-timing-function: linear;
      transform: translateX(-100px) translateY(0px);
      animation-delay: 0s;
    }

    #file8 {
      animation: file8 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0px) translateY(-40px);
      animation-delay: 0s;
    }

    #file9 {
      opacity: 0;
      animation: file9 7s infinite, filefade 0.5s 5s forwards;
      animation-timing-function: linear;
      transform: translateX(-50px) translateY(0px);
      animation-delay: 1s;
    }

    #file10 {
      opacity: 0;
      animation: file10 7s infinite, filefade 0.5s 5s forwards;
      animation-timing-function: linear;
      transform: translateX(-50px) translateY(0px);
      animation-delay: 2s;
    }

    #file11 {
      opacity: 0;
      animation: file11 7s infinite, filefade 0.5s 5s forwards;
      animation-timing-function: linear;
      transform: translateX(0px) translateY(50px);
      animation-delay: 2s;
    }
  }

  @include breakpoint($lg) {
    right: -10rem;
  }
}

.o-how-it-works-infographic__mobile {
  display: block;

  @include breakpoint($sm - 1, max-width) {
    margin-bottom: -2.4rem;

    // Files (Mobile)
    #file1m {
      animation: file1m 7s infinite;
      animation-timing-function: linear;
      transform: translateX(100px) translateY(0px);
    }

    #file2m {
      animation: file2m 7s infinite;
      animation-timing-function: linear;
      transform: translateX(-180px) translateY(0px);
    }

    #file3m {
      opacity: 0;
      animation: file3m 7s infinite, filefade 0.5s 5s forwards;
      animation-timing-function: linear;
      transform: translateX(100px) translateY(-100px);
      animation-delay: 1s;
    }

    #file4m {
      animation: file4m 7s infinite;
      animation-timing-function: linear;
      transform: translateX(-150px) translateY(-200px);
      animation-delay: 1s;
    }

    #file5m {
      animation: file5m 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0px) translateY(220px);
      animation-delay: 2s;
    }

    #file6m {
      animation: file6m 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0px) translateY(-220px);
      animation-delay: 2s;
    }

    #file7m {
      animation: file7m 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0px) translateY(160px);
    }

    #file8m {
      animation: file8m 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0px) translateY(-170px);
    }

    #file9m {
      animation: file9m 7s infinite;
      animation-timing-function: linear;
      transform: translateX(-48px) translateY(-225px);
      animation-delay: 1s;
    }

    #file10m {
      animation: file10m 7s infinite;
      animation-timing-function: linear;
      transform: translateX(0px) translateY(150px);
      animation-delay: 2s;
    }

    #file11m {
      opacity: 0;
      animation: file11m 7s infinite, filefade 0.5s 5s forwards;
      animation-timing-function: linear;
      transform: translateX(0px) translateY(150px);
      animation-delay: 2s;
    }
  }

  @include breakpoint($sm) {
    display: none;
  }
}

/*----------  File Animations (Desktop)  ----------*/

@keyframes file1 {
	0% { transform: translateX(0) translateY(0); }
	15% { transform: translateX(0) translateY(-60px); }
	22% { transform: translateX(-15px) translateY(-85px); }
	28% { transform: translateX(-35px) translateY(-97px); }
	90%, 100% { transform: translateX(-340px) translateY(-97px); }
}

@keyframes file2 {
	0% { transform: translateX(0) translateY(0); }
	70% { transform: translateX(295px) translateY(0px); }
	73% { transform: translateX(303px) translateY(5px);  }
	76% { transform: translateX(310px) translateY(15px); }
	90%, 100% { transform: translateX(310px) translateY(75px); }
}

@keyframes file3 {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(0px) translateY(195px); }
}

@keyframes file4 {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(0px) translateY(-235px); }
}

@keyframes file5 {
	0% { transform: translateX(0) translateY(0); }
	40% { transform: translateX(115px) translateY(150px); }
	43% { transform: translateX(123px) translateY(157px); }
	46% { transform: translateX(136px) translateY(166px); }
	90%, 100% { transform: translateX(325px) translateY(166px); }
}

@keyframes file6 {
	0% { transform: translateX(0) translateY(0); }
	40% { transform: translateX(-150px) translateY(0px); }
	43% { transform: translateX(-162px) translateY(-4px); }
	46% { transform: translateX(-172px) translateY(-8px); }
	90%, 100% { transform: translateX(-302px) translateY(-168px); }
}

@keyframes file7 {
	0% { transform: translateX(0) translateY(0); }
	60% { transform: translateX(-230px) translateY(0px); }
	65% { transform: translateX(-245px) translateY(10px); }
	70% { transform: translateX(-257px) translateY(25px); }
	90%, 100% { transform: translateX(-257px) translateY(105px); }
}

@keyframes file8 {
	0% { transform: translateX(0) translateY(0); }
	23% { transform: translateX(0px) translateY(-50px); }
	26% { transform: translateX(5px) translateY(-55px); }
	29% { transform: translateX(10px) translateY(-60px) }
	90%, 100% { transform: translateX(220px) translateY(-60px); }
}

@keyframes file9 {
	0% { transform: translateX(0) translateY(0); }
	18% { transform: translateX(-50px) translateY(0px); }
	36% { transform: translateX(-105px) translateY(-33px); }
	90%, 100% { transform: translateX(-315px) translateY(-33px); }
}

@keyframes file10 {
	0% { transform: translateX(0) translateY(0); }
	60% { transform: translateX(-200px) translateY(0px); }
	65% { transform: translateX(-216px) translateY(-5px); }
	70% { transform: translateX(-223px) translateY(-15px); }
	90%, 100% { transform: translateX(-223px) translateY(-89px); }
}

@keyframes file11 {
	0% { transform: translateX(0) translateY(0); }
	20% { transform: translateX(0px) translateY(90px); }
	22% { transform: translateX(5px) translateY(95px); }
	25% { transform: translateX(12px) translateY(105px); }
	31% { transform: translateX(30px) translateY(115px); }
	90%, 100% { transform: translateX(255px) translateY(115px); }
}

/*----------  File Animations (Mobile)  ----------*/

@keyframes file1m {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(170px) translateY(0px); }
}

@keyframes file2m {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(-180px) translateY(0px); }
}

@keyframes file3m {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(150px) translateY(-220px); }
}

@keyframes file4m {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(-145px) translateY(213px); }
}

@keyframes file5m {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(0px) translateY(215px); }
}

@keyframes file6m {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(0px) translateY(-220px); }
}

@keyframes file7m {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(0px) translateY(160px); }
}

@keyframes file8m {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(0px) translateY(-170px); }
}

@keyframes file9m {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(-48px) translateY(-225px); }
}

@keyframes file10m {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(0px) translateY(150px); }
}

@keyframes file11m {
	0% { transform: translateX(0) translateY(0); }
	90%, 100% { transform: translateX(0px) translateY(-160px); }
}

/*----------  File Animations (General)  ----------*/
@keyframes filefade {
  from { opacity: 0; }
  to { opacity: 1; }
}
