/*=============================================
=                     Hero                    =
=============================================*/

.o-hero {
  position: relative;
  color: $text-white;
  text-align: center;
}

.o-hero__heading {
  max-width: 30rem;
  margin: 0 auto;

  @include breakpoint($xs) {
    max-width: 40rem;
  }

  @include breakpoint(600px) {
    max-width: 65rem;
  }

  @include breakpoint($md) {
    max-width: 80rem;
  }
}

.o-hero__text {
  max-width: 30rem;
  margin: 0 auto;

  @include breakpoint(600px) {
    max-width: 40rem;
  }

  @include breakpoint($md) {
    max-width: 50rem;
  }
}

.o-hero--small {
  text-align: left;

  .o-hero__heading {
    max-width: none;
  }
}
