/*=============================================
=              Email Signup Form              =
=============================================*/

.m-form-email-signup {

  .a-input--minimal__input-wrap {
    margin-bottom: $padding-sm;
    width: 100%;

    @include breakpoint($sm) {
      margin-right: $padding-sm;
      margin-bottom: 0;
      width: calc(100% - 27rem);
    }
  }
}
