/*=============================================
=                 Scope Base                  =
=============================================*/

.s-page {
  color: $light-grey;

  // h1 - h6
  @for $i from 1 through 6 {
    h#{$i} {
      @extend .h-h#{$i};
      color: $grey;
      margin: $padding-xs 0;
    }
  }

  h2 {
    color: $purple;
  }

  img {
    max-width: 100%;
  }

  p {
    @extend .h-p;
    margin: $padding-xs 0;
  }

  b, strong {
    font-weight: bold;
    color: $grey;
  }

  i, em {
    background-color: $green;
    color: $purple;
    padding: 0 0.3rem;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  figcaption {
    font-size: 1.4rem;
    color: $grey;
  }

  hr {
    border: none;
    border-top: 1px dashed $x-light-grey;
    width: 100%;
    margin: $padding-xxs 0;
    display: inline-block;
  }

  /*----------  Links  ----------*/

  a {
    color: $purple;
    text-decoration: none;
    transition: color $time $easing;

    &:focus, &:hover {
      color: darken($purple, 10%);
      text-decoration: underline;
    }
  }

  /*----------  Lists  ----------*/

  ul {
    list-style-type: disc;
    padding-left: $padding-xs;
    font-size: 1.5rem;
  }

  ol {
    list-style-type: decimal;
    list-style-type: none;
    font-size: 1.5rem;

    li {
      counter-increment: step-counter;
      position: relative;
      padding-left: $padding-xs;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: counter(step-counter)'.';
        font-weight: $bold;
      }

      // p tag inside ordered list
      // usually for syntax highlighting
      p {
        display: inline;
        font-size: 1.5rem;
      }
    }

    // Nested ul
    ul {
      li {
        counter-reset: step-counter;
        padding-left: 0;
        font-weight: $normal;
        &:before {
          display: none;
        }
      }
    }

    // Nested ol
    ol {
      list-style-type: lower-roman;
      li {
        counter-reset: step-counter;
        padding-left: 0;
        margin-left: $padding-xs * 2;
        &:before {
          display: none;
        }
      }
    }
  }

  li {
    margin: 1rem 0;
    color: $grey;
  }

  /*----------  Syntax Highlighting  ----------*/

  pre {
    font-family: $mono;
  }

  // `this syntax`
  p code {
    background-color: lighten($x-light-purple, 5%);
    color: $dark-purple;
    padding: 0 0.3rem;
  }

  // code blocks
  div.highlight {
    margin: $padding-xs 0;
  }

  /*----------  Footnotes  ----------*/

  .footnotes {
    overflow-x: scroll;
    ol {
      padding: 0;
      li {
        padding: 0;
        &:before {
          content: normal;
        }
        p {
          background-color: $off-white;
          display: inline-block;
          margin: 0;
          a {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  /*----------  Blockquotes  ----------*/

  blockquote {
    background-color: $off-white;
    border-left: 5px solid $purple;
    margin: $padding-xs 0;
    padding: 1rem 2rem;
    quotes: "\201C""\201D""\2018""\2019";
    color: $dark-grey;

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
      font-size: 0;
    }
  }

  blockquote p {
    display: inline;
  }

  /*----------  Videos  ----------*/

  iframe {
    width: 100%;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    padding-top: 25px;
    height: 0;
  }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /*----------  Callouts  ----------*/

  .callout {
    border: 2px solid $x-light-grey;
    background-color: $off-white;
    padding: 0.5rem 1.5rem;
    margin: $padding-xs 0;

    p {
      color: $dark-grey;
      font-size: 1.4rem;
      margin: 1rem 0;
    }

    strong {
      color: $dark-grey;
      font-family: $font-heading;
      font-size: 1.6rem;
      display: block;
      margin: 1rem 0;
    }
  }

  .callout--info {
    border-color: lighten($purple, 15%);
    background-color: $x-light-purple;
  }

  .callout--warning {
    border-color: darken($yellow, 15%);
    background-color: lighten($yellow, 30%);
  }

  .callout--danger {
    border-color: darken($red, 35%);
    background-color: lighten($red, 10%);
  }

  .callout--success {
    border-color: darken($green, 35%);
    background-color: lighten($green, 15%);
  }

  .flag {
    background-color: $off-white;
    border-left: 5px solid $light-purple;
    margin: $padding-xs 0;
    padding: 1rem 2rem;
    color: $dark-grey;

    strong {
      color: $dark-grey;
      font-family: $font-heading;
      font-size: 1.6rem;
      display: block;
      margin: 1rem 0;
    }

    p {
      color: $dark-grey;
      font-size: 1.4rem;
      margin: 1rem 0;
    }
  }

  .flag--warning {
    border-left-color: darken($yellow, 6%);
  }

  .flag--danger {
    border-left-color: $red;
  }

  .flag--success {
    border-left-color: $green;
  }
}
