/*=============================================
=                 Scope Base                  =
=============================================*/

.s-page {

  color: $light-grey;

  // h1 - h6
  @for $i from 1 through 6 {
    h#{$i} {
      @extend .h-h#{$i};
      color: $grey;
    }
  }

  h2 {
    color: $purple;
  }

  h3 {
    margin: 1rem 0;
  }

  img {
    max-width: 100%;
  }

  p {
    @extend .h-p;
    margin: $padding-xs 0;
  }

  b, strong {
    font-weight: bold;
    color: $grey;
  }

  i, em {
    font-style: italic;
  }

  a {
    color: $purple;
    text-decoration: none;
    transition: color $time $easing;

    &:focus, &:hover {
      color: darken($purple, 10%);
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: disc;
    padding-left: $padding-xs;
  }

  ol {
    list-style-type: decimal;
    list-style-type: none;
    padding-left: 0.6rem;

    li {
      counter-increment: step-counter;

      &:before {
        content: counter(step-counter)'.';
        margin-right: 1rem;
        font-weight: $bold;
      }
    }
  }

  div.highlight {
    margin: $padding-xs 0;
  }

  .footnotes {
    ol {
      padding: 0;
      li {
        &:before {
          content: normal;
        }
      }
    }
  }

  li {
    margin: 0.6rem 0;
    color: $grey;
  }

  blockquote {
    background: $off-white;
    border-left: 5px solid $purple;
    margin: $padding-xs 0;
    padding: 1rem 2rem;
    quotes: "\201C""\201D""\2018""\2019";
    color: $dark-grey;

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
      font-size: 0;
    }
  }

  blockquote p {
    display: inline;
  }

  pre {
    font-family: $mono;
  }

  iframe {
    width: 100%;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    padding-top: 25px;
    height: 0;
  }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .callout {
    border: 2px solid $x-light-grey;
    background-color: $off-white;
    padding: 0.5rem 1.5rem;
    margin: $padding-xs 0;

    p {
      color: $dark-grey;
      font-size: 1.4rem;
      margin: 1rem 0;
    }

    strong {
      color: $dark-grey;
      font-family: $font-heading;
      font-size: 1.6rem;
      display: block;
      margin: 1rem 0;
    }
  }

  .callout--info {
    border-color: $purple;
    background-color: $x-light-purple;
  }

  .callout--warning {
    border-color: darken($yellow, 40%);
    background-color: $yellow;
  }

  .callout--danger {
    border-color: darken($red, 30%);
    background-color: lighten($red, 10%);
  }

  .callout--success {
    border-color: darken($green, 30%);
    background-color: lighten($green, 15%);
  }
}
