/*=============================================
=                   Button                    =
=============================================*/

.a-button {
  display: inline-block;
  padding: 1em 2.5em;
  background-color: $purple;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  color: $white;
  border: $border-width $purple solid;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: $bold;
  font-family: $font;
  font-size: 1.5rem;
  cursor: pointer;

  @include breakpoint($sm) {
    font-size: 1.7rem;
  }

  @include breakpoint($md) {
    font-size: 1.8rem;
  }
}

span.a-button {
  cursor: auto;
}

.a-button--video {
  position: relative;
  padding: 1em 3.4em 1em 4.4em;

  .a-icon--play {
    font-size: 0.7em;
    display: block;
    @include abs-center-left;
    left: 0.8em;
  }
}

.a-button--wordmark {

  .a-icon--wordmark {
    display: block;
    font-size: 0.6em;
  }
}

.a-button--transparent {
  background-color: transparent;
  color: $bright-purple;
  border-color: $bright-purple;
  box-shadow: none;
}

.a-button--light {
  background-color: $white;
  color: $purple;
  border-color: $white;
}

.a-button--light-transparent {
  background-color: transparent;
  color: $white;
  border-color: $white;
}
