/*=============================================
=                   Input                     =
=============================================*/

.a-input {
  border-radius: $border-radius;
  background-color: $xx-light-purple;
  border: 2px solid transparent;
  width: 100%;
  padding: 2rem;
  font-family: $font;
  font-size: 1.4rem;
  outline: 0; // replacing with border
  transition: box-shadow $time $easing, border $time $easing;
  box-shadow: 0 0 0 1px $x-light-grey;
  @include placeholder {
    color: $light-grey;
  }

  &:focus, &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,.3);
  }

  &:focus {
    border: 2px solid $purple;
  }
}

.a-input--minimal {
  border-bottom: 3px solid $white;
  color: $text-white;
  background: url('../images/1.4/patterns/mail.svg') no-repeat 0 calc(50% + 0.4rem);
  background-size: 1.8rem;
  padding: 2.2rem 1.8rem 1.4rem 3rem;
  font-size: 1.8rem;
  font-family: $font;
  width: 100%;
  outline: none; // replacing with border
  @include placeholder {
    color: $text-white;
  }

  &:focus {
    border-bottom-color: transparent;
    & + .a-input--minimal__underline {
      width: 100%;
    }
  }
}

.a-input--minimal__input-wrap {
  position: relative;
  display: inline-block;
}

.a-input--minimal__underline {
  display: block;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: $green;
  z-index: 1;
  transition: width $time $authenticMotion 0.1s;
}
